.el-form-item {
  margin-bottom: 25px;
  padding-left: 200px;
  // padding-left: 210px;
  box-sizing: border-box;

  // position: relative;

  ::v-deep .el-form-item__content {
    min-width: 900px;

    .el-select {
      width: 500px;
    }
    .el-input {
      width: 500px;
      .el-input__inner {
        width: 500px;
      }
    }
    .upload-demo {
      ::v-deep .el-upload-list__item {
        width: 500px;
      }
    }
  }
}
