.navberStyle {
  height: 50px;
  background-color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
}
.iconStyle {
  height: 100%;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  .breadCrumb{
 display: flex;
 align-items: center;
 margin-left: 10px;
  }
}
