#sidebarStyle {
  height: 100%;
  background-color: rgb(0, 21, 41);
  z-index: 1001;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  .noiconTit {
    width: 0;
    transition: width 0.5s;
  }
  .iconTit {
    width: 210px;
    height: 40px;
    transition: width 0.5s;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #00284d;
    transition: width 0.5s;
    img {
      height: 40px;
    }
  }
  // .el-menu-vertical-demo:not(.el-menu--collapse) {
  //   width: 200px;
  //   min-height: 400px;
  // }
}
.sidebarWidthall {
  width: 210px !important;
  transition: width 0.5s;
}
.sidebarWidth {
  width: 64px !important;
  transition: width 0.5s;
}
.iconPeople {
  display: flex;
  align-items: center;
  font-size: 20px;
  .el-avatar {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 4px;
  }
  .text {
    font-size: 13px;
    margin-right: 4px;
  }
}

.el-menu {
  border: none;
}
